@page "/"

<h3>Select task</h3>

<div class="d-flex justify-content-left">
    <a class="btn btn-primary m-3" href="/tasks/maintenance">Maintenance</a>
    <a class="btn btn-primary m-3" href="/tasks/cleaning">Cleaning</a>
    <a class="btn btn-primary m-3" href="/tasks/service">Room service</a>
</div>

@code {

    [CascadingParameter]
    public AppState? State { get; set; }

}