@inherits LayoutComponentBase

<PageTitle>Hotel Service</PageTitle>

<AppState>
    <div class="container mt-3">
        <a href="/" class="text-decoration-none text-black">
            <h2 class="mb-4">Hotel Service</h2>
        </a>
        @Body
    </div>
</AppState>